<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oasis Star</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header>
      <h1>Oasis Star</h1>
      <div class="auth-buttons" id="authButtons">
        <button onclick="showSection('login')">Login</button>
        <button onclick="showSection('register')">Register</button>
      </div>
      <div class="auth-buttons" id="userInfo" style="display: none">
        <span class="welcome-message" id="welcomeMessage"></span>
        <button onclick="logout()">Logout</button>
      </div>
    </header>
    <div class="container">
      <nav>
        <ul>
          <li><a onclick="showSection('home')">Home</a></li>
          <li><a onclick="showSection('encrypt')">Encrypt</a></li>
          <li><a onclick="showSection('decrypt')">Decrypt</a></li>
          <li><a onclick="showSection('check-files')">Check My Files</a></li>
          <li><a onclick="showSection('about')">About</a></li>
        </ul>
      </nav>
      <main id="mainContent">
        <div id="home" class="content-section active">
          <div class="text-left-top">
            <h2>Welcome to Oasis Star</h2>
            <p>密碼工程期末專題</p>
            <p>Please select a function from the sidebar on the left.</p>
          </div>
        </div>
        <div id="encrypt" class="content-section">
          <div class="text-left-top">
            <h2>Encrypt Files</h2>
          </div>
          <div id="encryptContent">
            <div class="algorithm-selector">
              <label for="algorithmSelect">Encryption Algorithm:</label>
              <select id="algorithmSelect">
                <option value="AES">AES</option>
                <option value="ChaCha">ChaCha20</option>
              </select>
            </div>
            <div class="drop-area" id="dropArea">
              <p>Drag and drop your files here to encrypt</p>
            </div>
            <div class="file-list" id="fileList"></div>
            <div class="user-container">
              <div class="search-user">
                <div class="input-container">
                  <input
                    type="text"
                    id="userSearchInput"
                    placeholder="Search for Sharing Partners..."
                  />
                  <ul id="userSuggestions"></ul>
                </div>
                <button onclick="addUser()">JOIN</button>
              </div>

              <div class="added-users-container">
                <h3>Joined Partners</h3>
                <div class="added-users-list">
                  <ul id="addedUsers"></ul>
                </div>
              </div>
            </div>
            <button
              class="encrypt-button"
              id="encryptButton"
              style="display: none"
            >
              Encrypt 🔐
            </button>
            <button
              class="upload-button"
              id="uploadButton"
              style="display: none"
            >
              Upload ☁️
            </button>
          </div>
          <div
            class="login-prompt"
            id="encryptLoginPrompt"
            style="display: none"
          >
            請先登入！
          </div>
        </div>
        <div id="decrypt" class="content-section">
          <div class="text-left-top">
            <h2>Decrypt Files</h2>
          </div>
          <div id="decryptContent">
            <div class="drop-area" id="decryptDropArea">
              <p>
                Drag and drop your encrypted files and certificate here to
                decrypt
              </p>
            </div>
            <div class="file-list" id="decryptFileList"></div>
            <button
              class="upload-button"
              id="decryptButton"
              style="display: none"
            >
              Decrypt
            </button>
          </div>
          <div
            class="login-prompt"
            id="decryptLoginPrompt"
            style="display: none"
          >
            請先登入！
          </div>
        </div>
        <div id="check-files" class="content-section">
          <div class="text-left-top">
            <h2>Check My Files</h2>
          </div>
          <div id="checkFilesContent">
            <div class="file-list-container" id="fileListContainer">
              <!-- 檔案列表將在這裡顯示 -->
            </div>
          </div>
          <div
            class="login-prompt"
            id="checkFilesLoginPrompt"
            style="display: none"
          >
            請先登入！
          </div>
        </div>
        <div id="about" class="content-section">
          <div class="text-left-top">
            <h2>About Us</h2>
            <p>作者： 許于軒 郭朝恩 鄭人傑</p>
            <p>這是一個可以讓使用者線上加解密檔案的網站，</p>
            <p>使用者加密完檔案之後會產生certificate，</p>
            <p>接收到檔案的收件者可以拿檔案和certificate來網站上解密，</p>
            <p>得到原始的檔案。</p>
          </div>
        </div>
        <div id="login" class="content-section">
          <div class="form-container">
            <h2>Login</h2>
            <form id="loginForm">
              <div class="form-group">
                <label for="login-username">Username:</label>
                <input
                  type="text"
                  id="login-username"
                  name="login-username"
                  required
                />
              </div>
              <div class="form-group">
                <label for="login-password">Password:</label>
                <input
                  type="password"
                  id="login-password"
                  name="login-password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="login-otp">Two-Factor Code:</label>
                <input type="text" id="login-otp" name="login-otp" required />
              </div>
              <button type="submit">Login</button>
              <div id="login-error" class="error"></div>
            </form>
            <div class="register-link">
              Don't have an account?
              <a onclick="showSection('register')">Register</a>
            </div>
          </div>
        </div>
        <div id="register" class="content-section">
          <div class="form-container">
            <h2>Register</h2>
            <form id="registerForm">
              <div class="form-group">
                <label for="register-email">Email:</label>
                <input
                  type="email"
                  id="register-email"
                  name="register-email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="register-username">Username:</label>
                <input
                  type="text"
                  id="register-username"
                  name="register-username"
                  required
                />
              </div>
              <div class="form-group">
                <label for="register-password">Password:</label>
                <input
                  type="password"
                  id="register-password"
                  name="register-password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="register-confirm-password">Confirm Password:</label>
                <input
                  type="password"
                  id="register-confirm-password"
                  name="register-confirm-password"
                  required
                />
                <div id="register-password-error" class="error"></div>
              </div>
              <button type="submit" id="register-submit" disabled>
                Submit
              </button>
              <div id="register-error" class="error"></div>
              <div id="qr-code" class="qr-code" style="display: none">
                <p>Scan this QR Code with Google Authenticator:</p>
                <img id="qr-code-img" src="" alt="QR Code" />
              </div>
              <div class="login-link">
                Already have an account?
                <a onclick="showSection('login')">Login</a>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>

    <p id="responseText"></p>

    <script src="/static/script.js"></script>
  </body>
</html>
